body {
	font-family: 'Rajdhani', 'Helvetica Neue', sans-serif;

	margin: 0;
	padding: 0;

	background-color: black;
}

h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 40pt;
}

h2 {
	color: white;
	font-weight: 400;
	font-size: 20pt;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	color: #333366;
	font-weight: 400;
	font-size: 18pt;
}

h4 {
	color: #fff;
	font-size: 16pt;
	font-weight: 500;

	margin: 0;
}

h5 {
	color: #333366;
	text-transform: uppercase;
}

p {
	color: white;
	font-size: 15pt;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.fixed_menu {
	position: fixed;

	margin: 2.5vh 2.5vw 2.5vh 2.5vw;

	height: 95vh;
	width: 95vw;

	z-index: 1;
}

.fixed_menu .logo {
	position: absolute;

	left: 0;
	top: 0;
	grid-area: logo;
}

.fixed_menu .contact {
	position: absolute;

	grid-area: contact;
	
	right: 0;
	top: 0;
}

.fixed_menu .menu {
	position: absolute;

	grid-area: menu;

	left: 0;
	bottom: 0;
}

#arrow_icon_area {
	position: absolute;
	margin-left: 50vw;
}

.fixed_menu .arrow-down-icon {
	transition: ease-in 1s all;

	color: #fff;
	position: absolute;
	margin-left: 50vw;
	bottom: 0;
	margin-top: 2px;
	width: 4px;
	height: 32px;
	background-color: currentColor;
	animation: float-up-down 2s ease-in infinite;
}
.fixed_menu .arrow-down-icon:before {
	content: '';
	position: absolute;
	left: -10px;
	top: 6px;
	width: 20px;
	height: 20px;
	border-top: solid 4px currentColor;
	border-right: solid 4px currentColor;
	-webkit-transform: rotate(135deg);
	        transform: rotate(135deg);
}

.fixed_menu .solid-line-icon {
	color: #fff;
	position: absolute;
	margin-left: 50vw;
	width: 4px;
	bottom: 0;
	margin-top: 0px;
	background-color: currentColor;
}

@keyframes float-up-down {
	0% {transform:translateY(0px);}
    50% {transform:translateY(10px);}
    100% {transform:translateY(0px);}
}

.anim_block {
	width: 100%;

	overflow: hidden;
}

.anim_block .heading_block {
	position: fixed;

	width: 28%;
	height: auto;

	top: 0;
	left: 0;

	margin-top: 25vh;
	padding-left: 2.5vw;
	padding-right: 2.5vw;

	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);

	visibility: hidden;

	overflow: scroll;

	z-index: -1;
}

.anim_block .heading_block--active {
	visibility: visible;
}

.anim_block .text_distortion_anim--active {
	animation: glitch-skew 4s cubic-bezier(.25, .46, .45, .94) infinite;
}

.anim_block .heading_block h1 {
	margin-top: 0;
	line-height: 85%;
}

#anim_0 .heading_block {
	width: 50%;
}

#anim_0 h1 {
	font-size: 50pt;
}

#anim_0 p {
	font-size: 20pt;
}

@keyframes glitch-skew {
    0% {transform: skew(0deg, 0deg);}
    2% {transform: skew(0deg, 0deg);filter: blur(0);}
    4% {transform: skew(-20deg, 0deg);filter: blur(4px);}
    6% {transform: skew(20deg, 0deg);}
    8% {transform: skew(0deg, 0deg);filter: blur(0);}

    16% {transform: skew(0deg, 0deg);filter: blur(0);}
    18% {transform: skew(0deg, 0deg);filter: blur(0);}
    20% {transform: skew(-20deg, 0deg);filter: blur(4px);}
    22% {transform: skew(20deg, 0deg);}
    24% {transform: skew(0deg, 0deg);filter: blur(0);}

    48% {transform: skew(0deg, 0deg);filter: blur(0);}
    50% {transform: skew(-20deg, 0deg);filter: blur(4px);}
    52% {transform: skew(20deg, 0deg);}
    54% {transform: skew(0deg, 0deg);filter: blur(0);}

    78% {transform: skew(0deg, 0deg);filter: blur(0);}
    80% {transform: skew(-20deg, 0deg);filter: blur(4px);}
    82% {transform: skew(20deg, 0deg);}
    84% {transform: skew(0deg, 0deg);filter: blur(0);}
    100% {transform: skew(0deg, 0deg);}
}

#anim_0 .heading_block {
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.blank_separator {
	height: 2000px;
	width: 100%;
}

.slide_in_anim {
	position: relative;
}

.slide_in_anim .container {
	display: relative;

	overflow: hidden;

	margin-left: 30%;
}

.slide_in_anim .container .text {
	position: relative;

	margin: 0;

	transform: translateX(100%);

	transition: cubic-bezier(.77,0,.175,1) 0.4s all;

	overflow: hidden;

	flex: 1;
}

.slide_in_anim .container .opaque_box {
	position: absolute;

	height: 100%;
	width: 100%;

	overflow: hidden;

	top: 0;

	background-color: white;

	transform: translateX(100%);

	transition: cubic-bezier(.77,0,.175,1) 0.7s all;
}

.slide_in_anim .container .box_slide_in--active {
	transform: translateX(-101%);
}

.slide_in_anim .container .text_slide_in--active {
	transform: translateX(0%);
}

#ANT_website_image {
	background: url(../images/ANT_website.png) top left no-repeat;
	height: 50vh;
	width: 100%;
}

@media screen and (max-width: 992px) {
	/*h1 {
		font-size: 50pt;
	}
	h2 {
		font-size: 30pt;
	}
	h3 {
		font-size: 30pt;
	}
	h4 {
		font-size: 30pt;
	}
	p {
		font-size: 25pt;
	}
	li {
		font-size: 25pt;
	}*/

	.website_reference {
		background-color: green;
	}
}

@media screen and (orientation:landscape) and (max-width: 992px) {

}